.promo {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding: 0 6px 0;
  }

  img {
    height: 100%;
  }

  &-main-wrapper {
    height: 100%;
  }

  &-wrapper {
    left: 0;
    right: 0;
    bottom: 0;
  }
}
